@import url(_reset.css);
@import url(_variables.css);

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    overflow-x: hidden;
    
}

.container {
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}

.button {
    color: var(--blanco-100);
    background-color: var(--azul-100);
    width: max-content;
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

.input {
    font-size: 1rem;
    font-weight: 400;
    padding: 0 .75rem;
    border-radius: .25rem;
    box-shadow: 0 1px 0 var(--gris-30);
    line-height: 1.25rem;
}

.flex {
    display: flex;
    align-items: center;
}

::placeholder {
    color: var(--gris-50);
}