.product__id {
    color: var(--gris-100);
    font-size: 0.875rem;
    font-weight: 500;
}

.parent {
    width: 11rem;
    height: 10.875rem;
    position: absolute;
}

.edit__btn {
    float: right;
    padding: .5rem;
}

.delete__btn {
    float: right;
    padding: .5rem;
}

@media (min-width: 768px) and (max-width: 1439px) {
    .parent {
        width: 10.25rem;
    }
}

@media (max-width: 767px) {
    .parent {
        width: 9.75rem;
    }
}
