.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 22rem;

}

.banner__image {
    width: 100vw;
    height: 22rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 41.15%, rgba(0, 0, 0, 0.90) 100%), url(../img/Hero.svg), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2rem;
}

.banner__content--title {
    color: var(--blanco-100);
    font-size: 3.25rem;
    font-weight: 700;
}

.banner__content--description {
    color: var(--blanco-100);
    font-size: 1.375rem;
    font-weight: 700;
}

@media (max-width: 767px) {
    .banner__image {
        height: 12rem;
    }

    .banner__content {
        gap: 0.5rem;
    }

    .banner__content--title {
        font-size: 1.375rem;
    }

    .banner__content--description {
        font-size: 0.875rem;
    }
}