.product-details {
    background-color: var(--gris-05);
    display: flex;
    padding-top: 4rem;
    gap: 1rem;
}

.product-details__image {
    width: 35rem;
    height: 31.25rem;
    /* height: 25.1875rem; */
    object-fit: cover;
}

.product-details__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    /* width: 35rem; */
    height: 31.25rem;
    /* height: 25.1875rem; */
}

.product-details__info--title {
    color: var(--gris-100);
    font-size: 3.25rem;
    font-weight: 500;
}

.product-details__info--price {
    color: var(--gris-100);
    font-size: 1rem;
    font-weight: 700;
}

.product-details__info--description {
    color: var(--gris-100);
    font-size: 1rem;
    font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .product-details {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .product-details__image {
        width: 24rem;
        height: 18rem;
    }

    .product-details__info {
        height: auto;
        /* justify-content: flex-start; */
    }

    .product-details__info--title {
        font-size: 1.375rem;
    }

}

@media (max-width: 767px) {
    .product-details {
        flex-direction: column;
        padding-top: 0;
    }

    .product-details__image {
        width: calc(100% + 2rem);
        /* width: 100%; */
        height: 20rem;
        margin-left: -1rem;
        object-fit: cover;
    }

    .product-details__info  {
        justify-content: flex-start;
        height: auto;
        margin-bottom: 1rem;
    }

    .product-details__info--title {
        font-size: 1.375rem;
    }

    .product-details__info--description {
        font-size: 0.875rem;
    }
}